# Python
*.py[cod]
*.pyo
*.pyc
*.pyd
__pycache__/

# Firebase
.firebase/
.firebaserc
firebase-debug.log

# Dependency directories
node_modules/

# Virtual Environment
venv/

# IDEs
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db